---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/19404/reviews?api_key=Movie_Key&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - e85227bed124a83c221fc6586f80decf3a151d6c
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2021-01-29 18:59:47 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":19404,"page":1,"results":[{"author":"MohamedElsharkawy","author_details":{"name":"","username":"MohamedElsharkawy","avatar_path":null,"rating":null},"content":"The
        Dilwale Dulhania Le Jayenge is a film considered by most to be one of the
        greatest ever made. From The American Film Institute to as voted by users
        on the Internet Movie Database (IMDB) it is consider to be one of the best.","created_at":"2017-10-21T12:27:46.145Z","id":"59eb3d42925141565100e901","updated_at":"2017-10-22T00:40:50.358Z","url":"https://www.themoviedb.org/review/59eb3d42925141565100e901"}],"total_pages":1,"total_results":1}'
  recorded_at: Thu, 01 Apr 2021 01:41:31 GMT
recorded_with: VCR 6.0.0
